*{
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
*:focus{
    outline: 2px #7296EC dashed;
    outline-offset: 3px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    background-color:#fff;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}
.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border-radius:16px;
    cursor: pointer;
    padding: 13px 20px;
    line-height: normal;
    border: 0;  

}
.button-primary{
    background-color: #7296EC;
    color: #fff;
}
.button:hover{
opacity: 0.8;
}
.button:active{
    opacity: 0.6;
}
.site-header-top{
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;  
}
.button-orange {
    background-color: #F78B3B;
    color: #fff;
}

.site-header-logo{
    background-color: #fff;
    display:flex;
    padding: 8px 6px;
    border-radius: 7px;
    margin-right: 35px;
}
.site-header-logo:hover{
    opacity: 0.8;   
}
.site-header-logo:active{
    opacity: 0.6;
}
.header-container{
display: flex;
align-items: center;
}

/* site-nav */
.site-nav {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; 
    margin-bottom: 40px;  
    border-bottom: 1px solid #d1d1d1;
}
.site-nav-link:hover{
    color:#7296EC;
}
.site-nav-link:active{
    opacity: 0.6;
}
.site-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav-item:not(:last-child){
    margin-right: 35px;
}

.site-nav-link {
    text-decoration: none;
    display: block;
    color: #7F7F7F;

}
 /* Currency rates */
 .currency-rates{
    display: flex;
    align-items:center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: auto;
}
.currency-rate-item:not(:last-child){
    margin-right: 25px;

}
.currency-rate-type{
 color:#2959CE;
}

/* Global-search-form */
.global-search-input{
    font-size: 14px;
    border: 0;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 13px;
    border-radius: 60px;
    padding-left: 40px;
    padding-right: 20px;
}

/* Lang Toggle */
.lang-toggle{
    display: flex;
    padding: 3px;
    border-radius: 39px;
    background-color: #DCE6FF;
    margin-right: 25px;
}
.lang-toggle-link{
    font-size: 13px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    text-decoration: none;
    line-height: 30px;
    color: #a6a6a6;
    text-align: center;
}
.lang-toggle-link-active{
    background-color: #fff;
    color: #222;
}
.header-list{
    display: flex;
}
.header-item{
    list-style: none;
}
.main-button{
    text-decoration: none;
}
.hero-content{
    list-style: none;
    width: 392px;
    background-color: rgba(246, 246, 246, 1);
}
.site-hero{
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: -10px;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/* .news-grid-item:not(:last-child){
    margin-right: 10px;

} */
.article-card {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 20px 17px 15px;
    border-radius: 15px;
}
.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 500;
}
.article-card-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.article-card-link:hover{
    color: #7296EC;
}
.article-card-link:active{
    opacity: 0.6;
}
.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
}
.article-card-img {
    width: 360px;
    height: 165px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 10px;
    display: block;
    margin-top: auto; 
}
.article-card-footer {
    display: flex;
    align-items:center;
}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.article-card-source-time {
    line-height: normal;
    font-size: 12px;
    color: #5E5F61;
}

 /* Notification_cta */

.notification-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #FFD7BA;
    margin: 60px 75px;
    padding: 25px 70px 25px 25px;
}
.notification-cta-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}


/* Global-news */
.global-news-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #000;
    margin-bottom: 20px;
    margin-top: 0;
}
.news-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.news-list-item:not(:last-child){
    margin-bottom: 10px;
}

/* Article-card-horizontal */
.article-card-horizontal {
    margin-bottom: 10px;
    background-color:#f6f6f6;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.article-card-horizontal-img {
    border-radius: 10px;
    width: 210px;
    height: 165px;  
    object-fit: cover;
    margin-right: 15px;
}
.article-card-horizontal-content {
    flex-grow: 1;
}
.article-card-horizontal-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color:#4A4B4C;
    margin-bottom: 10px;
    line-height: 26px;

}
.article-card-horizontal-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.article-card-horizontal-link:hover{
    color: #7296EC;
}
.article-card-horizontal-link:active{
    opacity: 0.6;
}
.article-card-horizontal-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 0;  
}
.article-card-horizontal-footer {
    display: flex;
    align-items:center;
}
.article-card-horizontal-source-time {
    color:#5E5F61;
    font-size: 12px;
    line-height: normal;
}
.article-card-horizontal-source-icon {
    border-radius: 5px ;
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
}

.button-grey {
    padding: 17px;
    color: #000;
    
}
.button-block{
    display: block;
    width: 100%;
}

/* side-bar-card */
.layout-sidebar{
    width: 393px;
}
.side-bar-card {
    background-color: #f6f6f6;
    color: #000;
    padding: 20px;
    border-radius: 15px;
}
.side-bar-card-heading {
    margin-top: 0;  
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

}
.side-bar-card-list {
    padding: 0;
    margin: 0;
    list-style: none; 
}
.side-bar-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.side-bar-card-item:last-child{
    padding-bottom: 0;
}
.side-bar-card-item:first-child{
    padding-top: 0;
}
.side-bar-card-item:not(:last-child){
    border-bottom:1px solid #d2d2d2;
}
.side-bar-card-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 8px;
}
.side-bar-card-link{
    text-decoration: none;
    display: inline-block;
    color: #000;  

}
.side-bar-card-link:hover{
    color: #7296EC;
}
.side-bar-card-link:active{
    opacity: 0.6;
}

.side-bar-card-source-time {
    color: #5E5F61;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}

/* layout */
.layout-2-1{
    display: flex;
    align-items:flex-start;
}
.layout-main-2-1{
   width: 797px; 
   margin-right: 10px;
}
.layout-sidebar-2-1{
    width: 393px;
    margin-top: 49px;
}

.layout-sidebar-2-1-item:not(:last-child){
    margin-bottom: 10px;
}
/* Side-bar-add */
.side-bar-add{
    display: flex;
    
}

.side-bar-add-img{
    border-radius: 15px;
    width: 393px;
    height: 338px;
    object-fit: cover;
}


/* footer */
 .site-footer {
    background-color: #7297EF;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.site-footer *:focus{
    outline: 2px #fff dashed;
 
}

.footer-logo-wrapper {
    margin-bottom: 15px;
    display: flex;
}
.site-footer-logo {    
    display: flex;
}
.site-footer-logo:hover{
    opacity: 0.8;
}
.site-footer-logo:active{
    opacity: 0.6;

}
.logo-img {
    width: 264px;
    height: 28px;
    object-fit: contain;
}
.footer-about-links {
    display: flex;
}
.footer-about{
    margin-right: 200px;
    width: 230px;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}
.footer-links-wrapper {
    flex-grow: 1;
    display:flex;
}
.footer-links {
    list-style: none; 
    width: 50%;
    padding-right: 24px;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding-left: 0;
}
.footer-links:not(:last-child){
}
.footer-link-item:not(:last-child){ 
    margin-bottom: 20px;
    
}
.footer-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.footer-divider {
    height: 1px;
    background-color: #CECECE;
    border: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.footer-socials-heading {
 
    line-height: 23px;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    width: 160px;
}
.footer-socials-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
}
.footer-socials-item:not(:last-child) {
    margin-right: 25px;
}
.footer-socials-link {
    display: flex;
}
.footer-socials-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    flex-shrink: 0;
}
